

body {
  font-family: 'Open Sans', sans-serif;
  color: darkgray;
  margin: 100px;
}

.flexContainer {
  padding: 10px;
  display: flex;
  /*flex-wrap: wrap;*/
  /*justify-content: left;*/
  flex-direction: row;
}
/*
.upperText {
  float: right;
  padding: 10px;
}
*/
