






/***EXPAND CONTRACT FUNCTIONALITY**********************************************/
iframe.left {
  float: left;
  padding: 15px;
  margin-right: 5px;
  margin-bottom: 80px;
}

iframe.none {
  padding: 15px;
  margin-right: 5px;
  margin-bottom: 80px;
}




button.expand {
  position: relative; /*relative*/
   -webkit-animation: expand 2s 1;
   animation: expand 2s 1;
   animation-fill-mode: forwards;
}
button.shrink {
  position: relative;
   -webkit-animation: shrink 2s 1;
   animation: shrink 2s 1;
   animation-fill-mode: forwards;
}
a:hover {
  cursor: crosshair;
}


/*
EXPAND  100% {  translate(5vw, 5vh)  }
          0% { translate(1vw, 1vh) }
*/

/*
SHRINK 0%
*/


@-webkit-keyframes expand {
	0% {transform: scale(1) translate(1vw, 1vh);}
  100% {align-items: center;  transform: scale(3) translate(10vw, 10vh);}
}

@keyframes expand {
	0% {transform: scale(1) translate(1vw, 1vh) ;}
  100% {align-items: center; transform: scale(3) translate(10vw, 10vh);}
}

@-webkit-keyframes shrink {
    0% {transform: scale(2) translate(10vw, 10vh);}
	100% {transform: scale(1) ;}
}

@keyframes shrink {
    0% {transform: scale(2) translate(10vw, 10vh);}
	100% {transform: scale(1);}
}


/*
removed from shrink keyframe:
translate(1vw, 1vh)
translate(1vw, 1vh)


*/


/***EXPAND*****/
/*
#expandingVideo.expand {
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  position: absolute;
  transform: scale(2) translate(20vw, 20vh);
  -webkit-transform: scale(2) translate(20vw, 20vh);
}
*/


/*
.video {
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
*/

/***SHRINK*****/
/*
#expandingVideo:hover {
  cursor: pointer;
}
*/
/*
#expandingVideo.shrink {
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  transform: scale(1) translate(1vw, 1vh);
  -webkit-transform: scale(1) translate(1vw, 1vh);
}
*/
